
CFitsIO/CFitsIO.vcxproj.user
*.obj
CFitsIO/x86/Debug/CFitsIO.Build.CppClean.log
*.idb
CFitsIO/x86/Debug/CFitsIO.lib
CFitsIO/x86/Debug/CFitsIO.log
*.pdb
*.lastbuildstate
*.tlog
DeepSkyStacker/.vs/config/applicationhost.config
DeepSkyStacker/.vs/DeepSkyStacker/v14/.suo
*.bsc
DeepSkyStacker/DeepSkyStacker.VC.db
DeepSkyStacker/DeepSkyStacker.VC.VC.opendb
DeepSkyStacker/DeepSkyStacker.vcxproj.user
DeepSkyStacker/UpgradeLog.htm
*.sbr
DeepSkyStacker/x86/Debug/DeepSkyStacker.Build.CppClean.log
*.exe
*.manifest
DeepSkyStacker/x86/Debug/DeepSkyStacker.exe.embed.manifest.res
DeepSkyStacker/x86/Debug/DeepSkyStacker.ilk
DeepSkyStacker/x86/Debug/DeepSkyStacker.log
DeepSkyStacker/x86/Debug/DeepSkyStacker.pch
DeepSkyStacker/x86/Debug/DeepSkyStacker.res
DeepSkyStacker/x86/Debug/DeepSkyStacker_manifest.rc
lcms/Projects/VC2005/LibDebug/vc90.pdb
lcms/Projects/VC2005/LibDebug/vc90.pdb
*.pdb
*.ipch
/LibTiff/x86/Debug/libtiff.lib
/LibTiff/x86/Debug/libtiff.Build.CppClean.log
/LibTiff/x86/Debug/libtiff.log
DeepSkyStacker/.vs/DeepSkyStacker/v14/.suo
DeepSkyStacker/.vs/DeepSkyStacker/v14/.suo
/LibTiff/libtiff.vcxproj.user
