// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "afxres.h"
/////////////////////////////////////////////////////////////////////////////
// English (United Kingdom) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENG)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
#pragma code_page(1252)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // English (United Kingdom) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// Spanish (Spain, International Sort) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ESN)
LANGUAGE LANG_SPANISH, SUBLANG_SPANISH_MODERN
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_MAINBOARDMINI DIALOGEX 0, 0, 466, 38
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    CTEXT           "Imagen Apilada",IDC_STACKEDIMAGE,3,28,76,10,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Ultima Imagen",IDC_LASTIMAGE,79,28,76,10,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Gráficos",IDC_GRAPHS,155,28,76,10,NOT WS_VISIBLE | WS_BORDER
    LTEXT           "",IDC_MONITORINGRECT,3,4,456,24,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Lista de Imágenes",IDC_IMAGELIST,231,28,76,10,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Log",IDC_LOGLIST,307,28,76,10,NOT WS_VISIBLE | WS_BORDER
    PUSHBUTTON      "Monitorear",IDC_MONITOR,6,6,19,18,BS_MULTILINE | NOT WS_VISIBLE
    PUSHBUTTON      "Apilar", IDC_STACK_DSSLIVE,28,6,18,18,BS_MULTILINE | NOT WS_VISIBLE
    PUSHBUTTON      "Detener",IDC_STOP,49,6,18,18,BS_MULTILINE | NOT WS_VISIBLE
    CTEXT           "Configuración",IDC_WARNINGS,383,28,76,10,NOT WS_VISIBLE | WS_BORDER
    LTEXT           "",IDC_PROGRESS,75,7,347,8,NOT WS_VISIBLE | WS_BORDER
    LTEXT           "Pendientes: %ld - Registradas: %ld - Apiladas: %ld - Tiempo total de exposición: %s",IDC_STATS,78,15,344,8,NOT WS_VISIBLE
    PUSHBUTTON      "Reducir",IDC_REDUCE,436,6,19,18,BS_MULTILINE | NOT WS_VISIBLE
END

IDD_DEEPSKYSTACKERLIVE DIALOGEX 0, 0, 602, 458
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_CLIENTEDGE | WS_EX_CONTROLPARENT | WS_EX_APPWINDOW
CAPTION "DeepSkyStacker Live %s"
FONT 8, "MS Shell Dlg 2", 0, 0, 0x1
BEGIN
    LTEXT           "",IDC_STATIC,7,7,588,104,NOT WS_VISIBLE | WS_BORDER
END

IDD_MAINBOARD DIALOGEX 0, 0, 466, 87
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    CTEXT           "Imagen Apilada",IDC_STACKEDIMAGE,3,71,76,16,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Ultima Imagen",IDC_LASTIMAGE,79,71,76,16,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Gráficos",IDC_GRAPHS,155,71,76,16,NOT WS_VISIBLE | WS_BORDER
    LTEXT           "Monitoreando",IDC_MONITORINGRECT,3,4,456,60,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Lista de Imágenes",IDC_IMAGELIST,231,71,76,16,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Log",IDC_LOGLIST,307,71,76,16,NOT WS_VISIBLE | WS_BORDER
    LTEXT           "<Haga Click Aquí para seleccionar la Carpeta Monitoreada>",IDC_MONITOREDFOLDER,56,7,370,8,SS_PATHELLIPSIS
    PUSHBUTTON      "Monitorear",IDC_MONITOR,21,22,35,32,BS_MULTILINE | NOT WS_VISIBLE
    PUSHBUTTON      "Apilar", IDC_STACK_DSSLIVE,72,22,35,32,BS_MULTILINE | NOT WS_VISIBLE
    PUSHBUTTON      "Detener",IDC_STOP,123,22,35,32,BS_MULTILINE | NOT WS_VISIBLE
    CTEXT           "Configuración",IDC_WARNINGS,383,71,76,16,NOT WS_VISIBLE | WS_BORDER
    LTEXT           "Static",IDC_PROGRESS,166,24,286,22,NOT WS_VISIBLE | WS_BORDER
    LTEXT           "Pendientes: %ld - Registradas: %ld - Apiladas: %ld - Tiempo total de exposición: %s",IDC_STATS,168,54,284,8,NOT WS_VISIBLE
END

IDD_LOG DIALOGEX 0, 0, 336, 166
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
#if defined(_UNICODE)
	CONTROL         "", IDC_LOG, "RichEdit20W", ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_BORDER | WS_VSCROLL | WS_HSCROLL, 0, 0, 335, 166
#else
	CONTROL         "", IDC_LOG, "RichEdit20A", ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_BORDER | WS_VSCROLL | WS_HSCROLL, 0, 0, 335, 166
#endif
END

IDD_IMAGEVIEW DIALOGEX 0, 0, 335, 166
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    LTEXT           "",IDC_BACKGROUND,2,3,169,24
    LTEXT           "Static", IDC_FILENAME_DSSLIVE,6,4,163,8,SS_ENDELLIPSIS
    LTEXT           "Copiar la imagen al portapapeles",IDC_COPYTOCLIPBOARD,6,16,160,8
    LTEXT           "",IDC_PICTURE,0,29,335,137,WS_BORDER
    CONTROL         "Gradiente",IDC_GAMMA,"MFCGradientCtrl",WS_TABSTOP,206,2,127,26
    PUSHBUTTON      "",IDC_4CORNERS,175,3,29,22
END

IDD_IMAGELIST DIALOGEX 0, 0, 336, 166
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_IMAGELIST,"SysListView32",LVS_REPORT | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,0,0,335,166
END

IDD_GRAPHS DIALOGEX 0, 0, 336, 166
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_GRAPH,"ChartCtrl",WS_TABSTOP,1,16,335,150
    CONTROL         "Puntaje",IDC_SCORE,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,2,3,37,10
    CONTROL         "FWHM",IDC_FWHM,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,42,3,33,10
    CONTROL         "#Estrellas",IDC_STARS,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,81,3,45,10
    CONTROL         "dX/dY",IDC_OFFSET,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,130,3,35,10
    CONTROL         "Angulo",IDC_ANGLE,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,169,3,35,10
    CONTROL         "Fondo del Cielo",IDC_SKYBACKGROUND,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,210,3,67,10
END

IDD_SETTINGS_LIVE DIALOGEX 0, 0, 393, 333
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    GROUPBOX        "Apilando",IDC_STACKING,7,8,306,168
    CONTROL         "No apilar al menos hasta",IDC_DONTSTACK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,21,150,10
    LTEXT           "Atención     No apilar si...",IDC_STATIC,16,38,78,8
    CONTROL         "",IDC_WARN_SCORE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,49,16,10
    CONTROL         "...el puntaje es menor a",IDC_DONTSTACK_SCORE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,49,150,10
    EDITTEXT        IDC_SCORE,201,50,44,12,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_RIGHT
    CONTROL         "",IDC_WARN_STARS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,66,16,10
    CONTROL         "...la cantidad de estrellas es menor a",IDC_DONTSTACK_STARS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,66,150,10
    EDITTEXT        IDC_STARCOUNT,201,66,44,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER | NOT WS_BORDER,WS_EX_RIGHT
    CONTROL         "",IDC_WARN_FWHM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,98,16,10
    CONTROL         "...el FWHM es mayor a",IDC_DONTSTACK_FWHM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,98,150,10
    EDITTEXT        IDC_FWHM,201,98,44,12,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_RIGHT
    LTEXT           "pixeles",IDC_STATIC,255,99,50,8
    CONTROL         "",IDC_WARN_OFFSET,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,115,16,10
    CONTROL         "...dX o dY es mayor a",IDC_DONTSTACK_OFFSET,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,115,150,10
    EDITTEXT        IDC_OFFSET,201,115,44,12,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_RIGHT
    LTEXT           "pixeles",IDC_STATIC,255,116,50,8
    CONTROL         "",IDC_WARN_ANGLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,133,16,10
    CONTROL         "...el Angulo es mayor a",IDC_DONTSTACK_ANGLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,133,150,10
    EDITTEXT        IDC_ANGLE,201,133,44,12,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_RIGHT
    LTEXT           "°",IDC_STATIC,255,134,18,8
    GROUPBOX        "Alertas",IDC_WARNINGS,7,179,306,41
    CONTROL         "Sonido",IDC_WARN_SOUND,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,192,36,10
    CONTROL         "Titilar la aplicación",IDC_WARN_FLASH,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,207,64,10
    CONTROL         "Enviar email a",IDC_WARN_EMAIL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,191,192,120,10
    CONTROL         "Crer un archivo de alerta en ",IDC_WARN_FILE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,191,207,180,10
    GROUPBOX        "Opciones",IDC_OPTIONS,7,227,306,65
    CONTROL         "Guardar la imagen apilada a un archivo cada",IDC_SAVESTACKEDIMAGE, "Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,240,180,10
    EDITTEXT        IDC_IMAGECOUNT,201,240,44,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER | NOT WS_BORDER,WS_EX_RIGHT
    LTEXT           "imagen(es)",IDC_STATIC,255,241,50,8
    LTEXT           "Carpeta de Salida:",IDC_STATIC,27,257,180,8
    LTEXT           "<Haga Click Aquí para seleccionar la carpeta de salida>",IDC_STACKEDOUTPUTFOLDER,191,257,226,8
    PUSHBUTTON      "Aplicar cambios",IDC_APPLYCHANGES,319,10,69,14
    PUSHBUTTON      "Cancelar cambios",IDC_CANCELCHANGES,319,30,69,14
    EDITTEXT        IDC_MINIMAGES,201,21,44,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER | NOT WS_BORDER,WS_EX_RIGHT
    LTEXT           "imágenes disponibles",IDC_STATIC,255,22,66,8
    LTEXT           "<Haga Click Aquí para seleccionar la carpeta>",IDC_WARNINGFILEFOLDER,345,207,136,8
    LTEXT           "<Haga Click Aquí para indicar una dirección de email>",IDC_EMAIL,345,193,160,8
    PUSHBUTTON      "Reinicializar la cantidad de emails",IDC_RESETEMAILCOUNT,319,190,69,14,NOT WS_VISIBLE
    GROUPBOX        "Filtros",IDC_FILTERS,7,300,306,50
    LTEXT           "Procesar solamente...",IDC_STATIC,16,310,49,8
    CONTROL         "Imágenes RAW (CR2, NEF, ORF, DNG...)",IDC_PROCESS_RAW, "Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,321,180,10
    CONTROL         "Imágenes FITS",IDC_PROCESS_FITS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,335,180,10
    CONTROL         "Imágenes TIFF",IDC_PROCESS_TIFF,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,191,321,180,10
    CONTROL         "Otras Imágenes (JPEG, BMP, GIF...)",IDC_PROCESS_OTHERS, "Button",BS_AUTOCHECKBOX | WS_TABSTOP,191,335,180,10
    CONTROL         "Mover archivos no apilables a la carpeta 'NonStackable'",IDC_MOVENONSTACKABLE, "Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,154,250,10
    LTEXT           "(la carpeta 'NonStackable' será creada de ser necesario)",IDC_STATIC,26,165,250,8
    CONTROL         "",IDC_WARN_SKYBACKGROUND,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,82,16,10
    CONTROL         "...el Fondo del Cielo es mayor a",IDC_DONTSTACK_SKYBACKGROUND, "Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,82,160,10
    EDITTEXT        IDC_MAX_SKYBACKGROUND,201,82,44,12,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_RIGHT
    LTEXT           "%",IDC_STATIC,255,82,8,8
    CONTROL         "Usar tema oscuro (se requiere reiniciar)",IDC_DARKTHEME,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,274,180,10
END

IDD_RESTARTMONITORING DIALOGEX 0, 0, 217, 137
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Restart Monitoring"
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    LTEXT           "Antes de reiniciar desea",IDC_STATIC,7,7,106,8
    CONTROL         "Crear una nueva imagen apilada vacía",IDC_CREATENEWSTACKEDIMAGE,
                    "Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,23,24,135,10
    LTEXT           "o",IDC_STATIC,35,34,8,8
    CONTROL         "Comenzar a partir de la imagen apilada actual",IDC_STARTFROMCURRENTSTACKEDIMAGE,
                    "Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,23,44,158,10
    CONTROL         "Descartar todas las imágenes pendientes",IDC_DROPPENDINGIMAGES,
                    "Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,23,69,144,10
    LTEXT           "o",IDC_STATIC,34,81,8,8
    CONTROL         "Utilizar y procesar las imágenes pendientes",IDC_USEPENDINGIMAGES,
                    "Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,23,91,150,10
    DEFPUSHBUTTON   "Aceptar",IDOK,101,116,50,14
    PUSHBUTTON      "Cancelar",IDCANCEL,160,116,50,14
END

IDD_EMAILSETTINGS DIALOGEX 0, 0, 255, 142
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ajustes de email"
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    GROUPBOX        "Ajustes de email enviado",IDC_STATIC,7,7,181,68
    LTEXT           "Enviar a:",IDC_STATIC,36,21,29,8
    EDITTEXT        IDC_SENDTO,70,18,110,14,ES_AUTOHSCROLL
    LTEXT           "Tema:",IDC_STATIC,45,39,20,8
    EDITTEXT        IDC_OBJECT,70,36,110,14,ES_AUTOHSCROLL
    CONTROL         "Enviar email sólo por el primer alerta",IDC_SENDONCE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,11,58,128,10
    GROUPBOX        "Configuración de la Cuenta",IDC_STATIC,7,80,181,56
    LTEXT           "Servidor SMTP:",IDC_STATIC,16,94,49,8
    EDITTEXT        IDC_SMTPSERVER,70,91,110,14,ES_AUTOHSCROLL
    LTEXT           "Cuenta (De):",IDC_STATIC,23,116,42,8
    EDITTEXT        IDC_ACCOUNT,70,113,110,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Aceptar",IDOK,198,7,50,14
    PUSHBUTTON      "Cancelar",IDCANCEL,198,24,50,14
    PUSHBUTTON      "Probar",IDC_TEST,198,121,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDR_MAINFRAME           ICON                    "res\\DeepSkyStackerLive.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_HDRUP               BITMAP                  "..\\Tools\\hdrup.bmp"

IDB_HDRDOWN             BITMAP                  "..\\Tools\\hdrdown.bmp"


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_SELECTMONITOREDFOLDER "Seleccionar la carpeta monitoreada"
    IDS_LOG_NEWFILESFOUND   "%ld nuevo(s) archivos(s) encontrado(s)\n"
    IDS_LOG_NEWFILE         "-> Nuevo archivo: %s\n"
    IDS_LOG_STARTMONITORING "Iniciar el monitoreo de la carpeta %s\n"
    IDS_LOG_PAUSEMONITORING "Pausar el monitoreo de la carpeta %s\n"
    IDS_LOG_STOPMONITORING  "Detener el monitoreo de la carpeta %s\n"
    IDS_LOG_ERRORSTARTMONITORING 
                            "Ocurrió un error al intentar iniciar el monitoreo de la carpeta %s\n"
    IDS_NOIMAGELOADED       "Ninguna Imagen cargada"
    IDS_NOSTACKEDIMAGE      "Ninguna Imagen Apilada"
    IDS_LOG_REGISTERRESULTS "Imagen %s registrada: %ld estrella(s) detectadas - FWHM = %.2f - Puntaje = %.2f\n"
    IDS_LOG_STARTSTACKING   "Comenzar Apilando archivos\n"
    IDS_LOG_STOPSTACKING    "Detener el Apilado de archivos\n"
    IDS_LOG_STARTING        "\nCómo utilizar el DeepSkyStacker Live?\n"
    IDS_LOG_STARTING_1      "Paso 1\nVerificar la pestaña de Ajustes para todos los ajustes de apilado y notificación\n\n"
    IDS_LOG_STARTING_2      "Paso 2\nHaga click en el botón Monitor para comenzar a monitorear la carpeta\nCuando el monitoreo esta activado las imágenes que van llegando son sólo registradas pero no apiladas.\n\n"
    IDS_LOG_STARTING_3      "Paso 3\nPara comenzar apilando las imágenes haga click en el botón de Apilar\nEn este punto todas las imágenes que van llegando serán apiladas (y previamente registradas).\n"
END

STRINGTABLE
BEGIN
    IDS_RECAP_AVERAGE       "Promedio"
    IDS_RECAP_MEDIAN        "Media"
    IDS_RECAP_MAXIMUM       "Máximo"
    IDS_RECAP_KAPPASIGMA    "Kappa-Sigma (Kappa = %.2f, Iteraciones = %ld)"
    IDS_RECAP_AUTOADAPTIVE  "Auto Adaptive Weighted Average (Iteraciones = %ld)"
    IDS_RECAP_ENTROPYAVERAGE "Entropy Weighted Average"
    IDS_RECAP_MEDIANSIGMACLIP 
                            "Median Kappa-Sigma (Kappa = %.2f, Iteraciones = %ld)"
END

STRINGTABLE
BEGIN
    IDS_EXPOSURE0           "Exposición: < 1 seg. "
    IDS_EXPOSURE1           "Exposición: %ld seg. "
    IDS_EXPOSURE2           "Exposición: %ld min. %ld seg. "
    IDS_EXPOSURE3           "Exposición: %ld hr. %ld min. %ld seg. "
END

STRINGTABLE
BEGIN
    IDS_RECAP_MEGABYTES     "%.1f Mb"
    IDS_RECAP_KILOBYTES     "%.1f Kb"
    IDS_RECAP_GIGABYTES     "%.1f Gb"
END

STRINGTABLE
BEGIN
    IDS_REGISTERING         "Registrando imágenes"
    IDS_REGISTERINGPICTURE  "Registando %ld de %ld"
    IDS_REGISTERINGNAME     "Registrando %s"
    IDS_REGISTERINGNAMEPLUSTARS "Registrando %s (%ld estrellas)"
    IDS_COMPUTINGLUMINANCE  "Calculando luminancias %s"
    IDS_LOADRGBPICTURE      "Cargando %ld bit/ch %s imagenes\n%s"
    IDS_LOADGRAYPICTURE     "Cargando %ld bits gray %s imagenes\n%s"
    IDS_LOADRGBDARK         "Cargando %ld bit/ch %s dark frame\n%s"
    IDS_LOADGRAYDARK        "Cargando %ld bits gray %s dark frame\n%s"
    IDS_ADDRGBDARK          "Agregando %ld bit/ch %s dark frame\n%s"
    IDS_ADDGRAYDARK         "Agregando %ld bits gray %s dark frame\n%s"
    IDS_LOADRGBOFFSET       "Cargando %ld bit/ch %s offset frame\n%s"
    IDS_LOADGRAYOFFSET      "Cargando %ld bits gray %s offset frame\n%s"
    IDS_ADDRGBOFFSET        "Agregando %ld bit/ch %s offset frame\n%s"
    IDS_ADDGRAYOFFSET       "Agregando %ld bits gray %s offset frame\n%s"
    IDS_COMPUTINGOFFSETS    "Calculando offsets"
END

STRINGTABLE
BEGIN
    IDS_DETECTINGHOTPIXELS1 "Detectando Hot Pixels (1/2)"
    IDS_DETECTINGHOTPIXELS2 "Detectando Hot Pixels (2/2)"
    IDS_COMPUTINGFLATCALIBRATION 
                            "Calculando Parámetros de Calibración de Flats"
    IDS_APPLYINGFLATCALIBRATION "Aplicando Parámetros de Calibración de Flats"
    IDS_AHDDEMOSAICING      "Interpolando con Adaptive Homogeneity Directed (AHD)"
    IDS_PROCESSINGIMAGE     "Procesando Imagen..."
    IDS_APPLYINGCOSMETIC_HOT "Aplicando cosmética - Hot Pixels"
    IDS_APPLYINGCOSMETIC_COLD "Aplicando cosmética - Cold Pixels"
    IDS_CREATINGMEDIANIMAGE "Creando Imagen Filtrada por la Media"
    IDS_OPTIMIZINGDARKMATCHING "Optimizando el emparejado de Darks"
    IDS_LOADRGBDARKFLAT     "Cargando %ld bit/ch %s dark flat frame\n%s"
    IDS_LOADGRAYDARKFLAT    "Cargando %ld bits gris %s dark flat frame\n%s"
    IDS_COMPUTINGMEDIANDARKFLAT "Calculando el dark flat maestro (%s)"
    IDS_MEDIANDARKFLATINFO  "Dark Flat Maestro creado a partir de %ld imágenes (%s)"
END

STRINGTABLE
BEGIN
    IDS_LOADGRAYFITS        "Cargando FITS %ld bit monocromática"
    IDS_SAVINGFITS          "Guardando FITS %ld bit"
END

STRINGTABLE
BEGIN
    IDS_LOADRGBFLAT         "Cargando %ld bit/ch %s flat frame\n%s"
    IDS_LOADGRAYFLAT        "Cargando %ld bits gray %s flat frame\n%s"
    IDS_ADDRGBFLAT          "Agregando %ld bit/ch %s flat frame\n%s"
    IDS_ADDGRAYFLAT         "Agregando %ld bits gray %s flat frame\n%s"
    IDS_MEDIANDARKINFO      "Dark Maestro creado a partir de %ld imágenes (%s)"
    IDS_MEDIANOFFSETINFO    "Offset Maestro creado a partir de %ld imágenes (%s)"
    IDS_MEDIANFLATINFO      "Flat Maestro creado a partir de %ld imágenes (%s)"
    IDS_SUBSTRACTINGOFFSET  "Sustrayendo Offset Frame"
    IDS_SUBSTRACTINGDARK    "Sustrayendo Dark Frame"
    IDS_APPLYINGFLAT        "Aplicando Flat Frame"
    IDS_NORMALIZINGMASTERFLAT "Calibrando Flat Maestro"
    IDS_COMPUTINGMINLUMINANCE "Cálculo automático de luminancia mínima"
    IDS_COMPUTINGENTROPY    "Calculando Entropía"
    IDS_COMPUTINGBACKGROUNDCALIBRATION 
                            "Calculando parámetros de Calibración de Fondo"
    IDS_COMPUTINGDARKOPTIMIZATIONFACTOR 
                            "Calculando parámetros de Optimización de Darks"
    IDS_REMOVINGHOTPIXELS   "Detectando hot pixels"
END

STRINGTABLE
BEGIN
    IDS_COMPUTINGSTACKINGINFO "Calculando info de apilado para %s"
    IDS_STACKING            "Apilando"
    IDS_STACKING_PICTURE    "Apilando %ld en %ld - Offset [%.1f,%.1f] - Angulo : %.1f°"
    IDS_LOADRGBLIGHT        "Cargando %ld bit/ch %s light frame\n%s"
    IDS_LOADGRAYLIGHT       "Cargando %ld bits gray %s light frame\n%s"
    IDS_STACKRGBLIGHT       "Apilando %ld bit/ch %s light frame\n%s"
    IDS_STACKGRAYLIGHT      "Apilando %ld bits gray %s light frame\n%s"
    IDS_STACKING_COMPUTINGADJUSTMENT 
                            "Apilando - Ajuste Bayer - Cálculo del Ajuste"
    IDS_COMPUTINGADJUSTMENT "Calcular ajuste %ld en %ld"
    IDS_STACKING_APPLYINGADJUSTMENT "Apilando - Ajuste Bayer - Aplicar Ajuste"
    IDS_STACKING_COMPUTEMAXADJUSTMENT "Calcular ajuste máximo"
    IDS_STACKING_APPLYADJUSTMENT "Aplicando ajuste"
    IDS_COMPUTINGMEDIANOFFSET "Calculando offset maestro (%s)"
    IDS_COMPUTINGMEDIANDARK "Calculando dark maestro (%s)"
    IDS_COMPUTINGMEDIANFLAT "Calculando  flat maestro (%s)"
END

STRINGTABLE
BEGIN
    IDS_LOADDSIMAGE         "Cargando DSImage"
    IDS_LOADPICTURE         "Cargando %s"
    IDS_SAVEDSIMAGE         "Guardando imagen apilada en %s (DSImage)"
    IDS_SAVINGDSIMAGE       "Guardando Archivo DSImage"
    IDS_SAVINGTIFF          "Guardando TIFF %ld bit"
    IDS_SAVINGPICTURE       "Guardando %s"
    IDS_SAVEWITHSETTINGSAPPLIED "Imagen guardada con los ajustes aplicados."
    IDS_SAVEWITHSETTINGSEMBEDDED "Imagen guardada con los ajustes integrados."
    IDS_LOADRGBTIFF         "Cargando TIFF %ld bit/ch"
    IDS_LOADGRAYTIFF        "Cargando TIFF %ld bit monocromo"
    IDS_DEEPSKYSTACKER      "DeepSkyStacker 4.1.1"
    IDS_SAVINGINTERMEDIATE  "Guardando imagen Registrada y Calibrada en %s"
    IDS_SAVINGCALIBRATED    "Guardando la imagen Calibrada en %s"
    IDS_LOADRGBFITS         "Cargando FITS %ld bit/ch"
END

STRINGTABLE
BEGIN
    IDS_COMPUTINGCOSMETICSTATS "Calculando Cosmética"
END

STRINGTABLE
BEGIN
    IDS_COMPUTINGMEDIANLIGHT "Calculando Imagen Final (%s)"
END

STRINGTABLE
BEGIN
    IDS_CREATEMASTERDARK    "Crear Dark Frame Maestro"
    IDS_CREATEMASTEROFFSET  "Crear Offset Frame Maestro"
    IDS_ADDOFFSET           "Agregando Offset frame %ld a %ld"
    IDS_ADDDARK             "Agregando Dark frame %ld a %ld"
END

STRINGTABLE
BEGIN
    IDS_SAVINGMASTEROFFSET  "Guardando Offset Maestro"
    IDS_SAVINGMASTERDARK    "Guardando Dark Maestro"
    IDS_CREATEMASTERFLAT    "Crear Flat Frame Maestro"
    IDS_ADDFLAT             "Agregando Flat frame %ld a %ld"
    IDS_SAVINGMASTERFLAT    "Guardando Flat Maestro"
    IDS_CREATEMASTERDARKFLAT "Crear Dark Flat Frame Maestro"
    IDS_ADDDARKFLAT         "Agregando Dark Flat frame %ld en %ld"
    IDS_SAVINGMASTERDARKFLAT "Guardando Dark Flat Maestro"
    IDS_ADDOFFSET2          "Agregando Offset frame %ld a %ld"
END

STRINGTABLE
BEGIN
    IDS_FORMAT_RGB          "RGB %ld bit/ch"
    IDS_FORMAT_GRAY         "Gris %ld bit"
    IDS_YES                 "Si"
    IDS_NO                  "No"
    IDS_EXPOSUREFORMAT_SUP  "%ld seg."
    IDS_EXPOSUREFORMAT_INF  "1/%ld s"
END

STRINGTABLE
BEGIN
    IDS_EXPOSURETIME1       "%ld seg. "
    IDS_EXPOSURETIME2       "%ld min. %ld seg. "
    IDS_EXPOSURETIME3       "%ld hr. %ld min. %ld seg. "
END

STRINGTABLE
BEGIN
    IDS_COLUMN_PATH         "Ruta"
    IDS_COLUMN_FILE         "Archivo"
    IDS_COLUMN_TYPE         "Tipo"
    IDS_COLUMN_SCORE        "Puntaje"
    IDS_COLUMN_DX           "dX"
    IDS_COLUMN_DY           "dY"
    IDS_COLUMN_ANGLE        "Angulo"
    IDS_COLUMN_DATETIME     "Fecha/Hora"
END

STRINGTABLE
BEGIN
    IDS_COLUMN_SIZES        "Tamaño"
    IDS_COLUMN_CFA          "CFA"
    IDS_COLUMN_DEPTH        "Profundidad"
    IDS_COLUMN_INFOS        "Infos"
    IDS_COLUMN_ISO_GAIN     "ISO/Gain"
    IDS_COLUMN_EXPOSURE     "Exposición"
	IDS_COLUMN_APERTURE		"Apertura"
    IDS_COLUMN_STARS        "#Estrellas"
    IDS_COLUMN_SKYBACKGROUND "Fondo del Cielo"
END

STRINGTABLE
BEGIN
    IDS_HAT_LINEAR          "Linear"
    IDS_HAT_CUBEROOT        "Raíz Cúbica"
    IDS_HAT_SQUAREROOT      "Raíz Cuadrada"
    IDS_HAT_LOG             "Logaritmo"
    IDS_HAT_LOGLOG          "Log(Log)"
    IDS_HAT_LOGSQUAREROOT   "Log(Raíz Cuadrada)"
    IDS_HAT_ASINH           "ASinH"
END

STRINGTABLE
BEGIN
    IDS_RECAP_WARNINGDISKSPACE 
                            "El proceso necesita temporariamente %s de espacio libre en la unidad %s.\nSólo %s están disponibles en esta unidad."
END

STRINGTABLE
BEGIN
    IDS_WANTTOCONTINUE      "\n¿Realmente desea continuar?"
END

STRINGTABLE
BEGIN
    IDS_LOG_STARTING_4      "Ud. puede pausar/iniciar nuevamente el proceso de apilado haciendo click en el botón de Apilar.\n"
    IDS_LOG_STARTING_5      "Para detener el monitoreo y apilado haga click en el botón de Detener.\n\n"
    IDS_LOG_ERRORLOADINGFILE "Error cargando archivo %s\n"
    IDS_STATUS_LOADED       "Cargado"
    IDS_STATUS_REGISTERED   "Registrado"
    IDS_STATUS_STACKDELAYED "Apilado con retrasado"
    IDS_STATUS_NOTSTACKABLE "No apilable"
    IDS_STATUS_STACKED      "Apilado"
    IDS_LOG_IMAGENOTSTACKABLE1 "La Imagen %s no es apilable (%s)\n"
    IDS_NOSTACK_SCORE       "El Puntaje (%.2f) es menor que %.2f"
    IDS_NOSTACK_STARS       "La cantidad de Estrellas (%.0f) es menor que %.0f"
    IDS_NOSTACK_FWHM        "FWHM (%.2f pixeles) es mayor que %.2f pixels"
    IDS_NOSTACK_OFFSET      "dX (%.2f pixels) o dY (%.2f pixels) es mayor que %.2f pixels"
    IDS_NOSTACK_ANGLE       "El ángulo (%.2f°) es mayor que %.2f°"
    IDS_NOSTACK_NOTRANSFORMATION 
                            "no se encontró transformación en el cuadro de referencia"
    IDS_LOG_WARNING         "Atención: Imagen %s -> %s\n"
END

STRINGTABLE
BEGIN
    IDS_SELECTWARNINGFOLDER "Seleccionar la Carpeta de Archivos de Notificación"
    IDS_SELECTSTACKEDFOLDER "Seleccionar la Carpeta de Salida de la Imagen Apilada"
    IDS_SAVINGSTACKEDIMAGE  "Guardando Imagen Apilada en\n%s"
    IDS_ERRORSENDINGEMAIL   "Ocurrió un error mientras se enviaba el correo electrónico!"
    IDS_EMAILSENTOK         "El correo de prueba ha sido enviado."
    IDS_CANTCHANGEMONITOREDFOLDER 
                            "No puede cambiar la carpeta a monitorear mientras esta monitoreando."
    IDS_SAVESTACKEDIMAGE    "Haga click aquí para guardar la imagen apilada en un archivo"
    IDS_NOSTACKEDIMAGEFOLDER 
                            "Primero debe seleccionar una carpeta de salida.\nAbra la pestaña de Ajustes para seleccionar la Carpeta de Salida de la Imagen Apilada."
    IDS_STACKEDIMAGEWILLBESAVED 
                            "La imagen apilada será guardada tan pronto como sea posible"
    IDS_STACKEDIMAGESAVED   "La imagen apilada ha sido guardada"
    IDS_USEEXISTINGIMAGES   "Ud. tiene %ld imágen(es) en la carpeta monitoreada.\n ¿Desea procesarlas?"
    IDS_ERRORMOVINGFILE     "Se produjo un error al intentar mover %s a la subcarpeta %s\n"
    IDS_FILEMOVED           "Archivo %s movido a la subcarpeta %s\n"
    IDS_NOSTACK_SKYBACKGROUND "Fondo del Cielo (%2.f%%) es mayor que %2.f%%"
END

STRINGTABLE
BEGIN
    IDS_HELPFILE            "Ayuda DeepSkyStacker.chm"
END

STRINGTABLE
BEGIN
    IDS_CAMERA_NOT_SUPPORTED "Lo sentimos, Libraw no reconoce la cámara %s"
	IDS_8BIT_FITS_NODEBAYER "DeepSkyStacker no se des-Bayer imágenes de 8 bits"	
END

#endif    // Spanish (Spain, International Sort) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

