[Desktop Entry]
Type=Application
Exec=/opt/DeepSkyStacker/DeepSkyStackerLive
Name=DeepSkyStackerLive
GenericName=The preferred application for live stacking astronomical images
Icon=/opt/DeepSkyStacker/DSSLive.icns
Categories=Astronomy;Science