// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "afxres.h"
/////////////////////////////////////////////////////////////////////////////
// Romanian (Romania) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ROM)
LANGUAGE LANG_ROMANIAN, SUBLANG_DEFAULT
#pragma code_page(1250)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DEEPSKYSTACKERLIVE DIALOGEX 0, 0, 602, 458
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_CLIENTEDGE | WS_EX_CONTROLPARENT | WS_EX_APPWINDOW
CAPTION "DeepSkyStacker Live %s"
FONT 8, "MS Shell Dlg 2", 0, 0, 0x1
BEGIN
    LTEXT           "",IDC_STATIC,7,7,588,104,NOT WS_VISIBLE | WS_BORDER
END

IDD_MAINBOARDMINI DIALOGEX 0, 0, 466, 38
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    CTEXT           "Imagine stackata",IDC_STACKEDIMAGE,3,28,76,10,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Ultima imagine",IDC_LASTIMAGE,79,28,76,10,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Grafice",IDC_GRAPHS,155,28,76,10,NOT WS_VISIBLE | WS_BORDER
    LTEXT           "",IDC_MONITORINGRECT,3,4,456,24,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Lista imagini",IDC_IMAGELIST,231,28,76,10,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Log",IDC_LOGLIST,307,28,76,10,NOT WS_VISIBLE | WS_BORDER
    PUSHBUTTON      "Monitor",IDC_MONITOR,6,6,19,18,BS_MULTILINE | NOT WS_VISIBLE
    PUSHBUTTON      "Stack", IDC_STACK_DSSLIVE,28,6,18,18,BS_MULTILINE | NOT WS_VISIBLE
    PUSHBUTTON      "Stop",IDC_STOP,49,6,18,18,BS_MULTILINE | NOT WS_VISIBLE
    CTEXT           "Setari",IDC_WARNINGS,383,28,76,10,NOT WS_VISIBLE | WS_BORDER
    LTEXT           "",IDC_PROGRESS,75,7,347,8,NOT WS_VISIBLE | WS_BORDER
    LTEXT           "Astepta: %ld - Inregistrate: %ld - Stackate: %ld - Timp total expunere: %s",IDC_STATS,78,15,344,8,NOT WS_VISIBLE
    PUSHBUTTON      "Reduce",IDC_REDUCE,436,6,19,18,BS_MULTILINE | NOT WS_VISIBLE
END

IDD_LOG DIALOGEX 0, 0, 336, 166
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
#if defined(_UNICODE)
	CONTROL         "", IDC_LOG, "RichEdit20W", ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_BORDER | WS_VSCROLL | WS_HSCROLL, 0, 0, 335, 166
#else
	CONTROL         "", IDC_LOG, "RichEdit20A", ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_BORDER | WS_VSCROLL | WS_HSCROLL, 0, 0, 335, 166
#endif
END

IDD_IMAGEVIEW DIALOGEX 0, 0, 335, 166
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    LTEXT           "",IDC_BACKGROUND,2,3,169,24
    LTEXT           "Static", IDC_FILENAME_DSSLIVE,6,4,195,8,SS_ENDELLIPSIS
    LTEXT           "Copiaza imaginea curenta in clipboard",IDC_COPYTOCLIPBOARD,6,16,160,8
    LTEXT           "",IDC_PICTURE,0,29,335,137,WS_BORDER
    CONTROL         "Gradient",IDC_GAMMA,"MFCGradientCtrl",WS_TABSTOP,206,2,127,26
    PUSHBUTTON      "",IDC_4CORNERS,175,3,29,22
END

IDD_IMAGELIST DIALOGEX 0, 0, 336, 166
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_IMAGELIST,"SysListView32",LVS_REPORT | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,0,0,335,166
END

IDD_GRAPHS DIALOGEX 0, 0, 336, 166
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_GRAPH,"ChartCtrl",WS_TABSTOP,1,16,335,150
    CONTROL         "Scor",IDC_SCORE,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,2,3,34,10
    CONTROL         "FWHM",IDC_FWHM,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,40,3,37,10
    CONTROL         "#Stele",IDC_STARS,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,81,3,38,10
    CONTROL         "dX/dY",IDC_OFFSET,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,123,3,35,10
    CONTROL         "Unghi",IDC_ANGLE,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,162,3,34,10
    CONTROL         "Fundal cer",IDC_SKYBACKGROUND,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,198,3,46,10
END

IDD_SETTINGS_LIVE DIALOGEX 0, 0, 393, 333
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    GROUPBOX        "Stackez",IDC_STACKING,7,8,306,168
    CONTROL         "Nu stacka pana cel putin",IDC_DONTSTACK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,21,150,10
    LTEXT           "Atentie     Nu stacka daca...",IDC_STATIC,16,38,78,8
    CONTROL         "",IDC_WARN_SCORE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,49,16,10
    CONTROL         "...scorul este mai mic decat",IDC_DONTSTACK_SCORE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,49,150,10
    EDITTEXT        IDC_SCORE,201,50,44,12,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_RIGHT
    CONTROL         "",IDC_WARN_STARS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,66,16,10
    CONTROL         "...nr. stele ste mai mic decat",IDC_DONTSTACK_STARS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,66,150,10
    EDITTEXT        IDC_STARCOUNT,201,66,44,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER | NOT WS_BORDER,WS_EX_RIGHT
    CONTROL         "",IDC_WARN_FWHM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,98,16,10
    CONTROL         "...FWHM este mai mare ca",IDC_DONTSTACK_FWHM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,98,150,10
    EDITTEXT        IDC_FWHM,201,98,44,12,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_RIGHT
    LTEXT           "pixeli",IDC_STATIC,255,99,50,8
    CONTROL         "",IDC_WARN_OFFSET,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,115,16,10
    CONTROL         "...dX sau dY este mai mare ca",IDC_DONTSTACK_OFFSET, "Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,115,150,10
    EDITTEXT        IDC_OFFSET,201,115,44,12,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_RIGHT
    LTEXT           "pixeli",IDC_STATIC,255,116,50,8
    CONTROL         "",IDC_WARN_ANGLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,133,16,10
    CONTROL         "...Unghiul este mai mare ca",IDC_DONTSTACK_ANGLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,133,150,10
    EDITTEXT        IDC_ANGLE,201,133,44,12,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_RIGHT
    LTEXT           "°",IDC_STATIC,255,134,18,8
    GROUPBOX        "Atentionari",IDC_WARNINGS,7,179,306,41
    CONTROL         "Sunet",IDC_WARN_SOUND,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,192,36,10
    CONTROL         "Atentioneaza aplicatia",IDC_WARN_FLASH,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,207,64,10
    CONTROL         "Trimite email la",IDC_WARN_EMAIL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,191,192,120,10
    CONTROL         "Creaza fisiere de atentionare in ",IDC_WARN_FILE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,191,207,180,10
    GROUPBOX        "Optiuni",IDC_OPTIONS,7,227,306,65
    CONTROL         "Salveaza imaginea stackata in fisier la fiecare",IDC_SAVESTACKEDIMAGE, "Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,240,180,10
    EDITTEXT        IDC_IMAGECOUNT,201,240,44,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER | NOT WS_BORDER,WS_EX_RIGHT
    LTEXT           "imagine(i)",IDC_STATIC,255,241,50,8
    LTEXT           "Director salvare:",IDC_STATIC,27,257,180,8
    LTEXT           "<Clic aici pt. a selecta directorul salvare>",IDC_STACKEDOUTPUTFOLDER,191,257,226,8
    PUSHBUTTON      "Aplica modificarile",IDC_APPLYCHANGES,319,10,69,14
    PUSHBUTTON      "Anuleaza modificarile",IDC_CANCELCHANGES,319,30,69,14
    EDITTEXT        IDC_MINIMAGES,201,21,44,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER | NOT WS_BORDER,WS_EX_RIGHT
    LTEXT           "imagini sunt disponibile",IDC_STATIC,255,22,66,8
    LTEXT           "<Clic aici pentru a selecta directorul>",IDC_WARNINGFILEFOLDER,345,207,136,8
    LTEXT           "<Clic aici pentru a stabili adresa de email>",IDC_EMAIL,345,193,160,8
    PUSHBUTTON      "Reseteaza contorul email-urilor",IDC_RESETEMAILCOUNT,319,190,69,14,NOT WS_VISIBLE
    GROUPBOX        "Filtre",IDC_FILTERS,7,300,306,50
    LTEXT           "Proceseaza doar...",IDC_STATIC,16,310,49,8
    CONTROL         "Imagini RAW (CR2, NEF, ORF, DNG...)",IDC_PROCESS_RAW, "Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,321,180,10
    CONTROL         "Imagini FITS",IDC_PROCESS_FITS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,335,180,10
    CONTROL         "Imagini TIFF",IDC_PROCESS_TIFF,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,191,321,180,10
    CONTROL         "Alte imagini (JPEG, BMP, GIF...)",IDC_PROCESS_OTHERS, "Button",BS_AUTOCHECKBOX | WS_TABSTOP,191,335,180,10
    CONTROL         "Muta imaginile nestackabile in subdirectorul 'NonStackable'",IDC_MOVENONSTACKABLE, "Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,154,250,10
    LTEXT           "(directorul 'NonStackable' va fi creat daca e necesar)",IDC_STATIC,26,165,250,8
    CONTROL         "",IDC_WARN_SKYBACKGROUND,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,82,16,10
    CONTROL         "...Fundalul cerului este mai mare decat",IDC_DONTSTACK_SKYBACKGROUND, "Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,82,160,10
    EDITTEXT        IDC_MAX_SKYBACKGROUND,201,82,44,12,ES_RIGHT | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_RIGHT
    LTEXT           "%",IDC_STATIC,255,82,8,8
    CONTROL         "Utilizare tema întunecata (repornire necesara)",IDC_DARKTHEME,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,274,180,10
END

IDD_RESTARTMONITORING DIALOGEX 0, 0, 217, 137
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Reporneste monitorizarea"
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    LTEXT           "Inainte de repornire vreti sa",IDC_STATIC,7,7,106,8
    CONTROL         "Creati o imagine stackata goala",IDC_CREATENEWSTACKEDIMAGE,
                    "Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,23,24,129,10
    LTEXT           "sau",IDC_STATIC,35,34,11,8
    CONTROL         "Porniti de la imaginea curenta stackata",IDC_STARTFROMCURRENTSTACKEDIMAGE,
                    "Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,23,44,136,10
    CONTROL         "Abandoneaza toate imaginile in asteptare",IDC_DROPPENDINGIMAGES,
                    "Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,23,69,145,10
    LTEXT           "sau",IDC_STATIC,34,81,11,8
    CONTROL         "Utilizeaza si proceseaza imaginile in asteptare",IDC_USEPENDINGIMAGES,
                    "Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,23,91,157,10
    DEFPUSHBUTTON   "OK",IDOK,101,116,50,14
    PUSHBUTTON      "Intrerupe",IDCANCEL,160,116,50,14
END

IDD_EMAILSETTINGS DIALOGEX 0, 0, 255, 142
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Setari e-mail 2"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Trimite setarile e-mail",IDC_STATIC,7,7,181,68
    LTEXT           "Trimite catre:",IDC_STATIC,23,21,41,8
    EDITTEXT        IDC_SENDTO,70,18,110,14,ES_AUTOHSCROLL
    LTEXT           "Obiect:",IDC_STATIC,39,39,23,8
    EDITTEXT        IDC_OBJECT,70,36,110,14,ES_AUTOHSCROLL
    CONTROL         "Trimite email doar pentru prima atentionare",IDC_SENDONCE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,11,58,145,10
    GROUPBOX        "Setari cont",IDC_STATIC,7,80,181,56
    LTEXT           "Server SMTP:",IDC_STATIC,17,94,45,8
    EDITTEXT        IDC_SMTPSERVER,70,91,110,14,ES_AUTOHSCROLL
    LTEXT           "Cont (De la):",IDC_STATIC,23,116,39,8
    EDITTEXT        IDC_ACCOUNT,70,113,110,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,198,7,50,14
    PUSHBUTTON      "Intrerupe",IDCANCEL,198,24,50,14
    PUSHBUTTON      "Test",IDC_TEST,198,121,50,14
END

IDD_MAINBOARD DIALOGEX 0, 0, 466, 87
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SYSMENU
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    CTEXT           "Imagine stackata",IDC_STACKEDIMAGE,3,71,76,16,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Ultima imagine",IDC_LASTIMAGE,79,71,76,16,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Grafice",IDC_GRAPHS,155,71,76,16,NOT WS_VISIBLE | WS_BORDER
    LTEXT           "Monitorizez",IDC_MONITORINGRECT,3,4,456,60,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Lista imagini",IDC_IMAGELIST,231,71,76,16,NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Log",IDC_LOGLIST,307,71,76,16,NOT WS_VISIBLE | WS_BORDER
    LTEXT           "<Clic aici pt. a selecta directorul monitorizat>",IDC_MONITOREDFOLDER,56,7,370,8,SS_PATHELLIPSIS
    PUSHBUTTON      "Monitor",IDC_MONITOR,21,22,35,32,BS_MULTILINE | NOT WS_VISIBLE
    PUSHBUTTON      "Stack", IDC_STACK_DSSLIVE,72,22,35,32,BS_MULTILINE | NOT WS_VISIBLE
    PUSHBUTTON      "Stop",IDC_STOP,123,22,35,32,BS_MULTILINE | NOT WS_VISIBLE
    CTEXT           "Setari",IDC_WARNINGS,383,71,76,16,NOT WS_VISIBLE | WS_BORDER
    LTEXT           "Static",IDC_PROGRESS,166,24,286,22,NOT WS_VISIBLE | WS_BORDER
    LTEXT           "Astepta: %ld - Inregistrate: %ld - Stackate: %ld - Timp total expunere: %s",IDC_STATS,168,54,284,8,NOT WS_VISIBLE
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDR_MAINFRAME           ICON                    "res\\DeepSkyStackerLive.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_HDRUP               BITMAP                  "..\\Tools\\hdrup.bmp"

IDB_HDRDOWN             BITMAP                  "..\\Tools\\hdrdown.bmp"


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_SELECTMONITOREDFOLDER "Selecteaza directorul monitorizat"
    IDS_LOG_NEWFILESFOUND   "%ld fisiere noi gasite\n"
    IDS_LOG_NEWFILE         "-> Fisier nou: %s\n"
    IDS_LOG_STARTMONITORING "Porneste monitorizarea directorului %s\n"
    IDS_LOG_PAUSEMONITORING "Intrerupe monitorizarea directorului %s\n"
    IDS_LOG_STOPMONITORING  "Opreste monitorizarea directorului %s\n"
    IDS_LOG_ERRORSTARTMONITORING 
                            "A aparut o eroare la monitorizarea directorului %s\n"
    IDS_NOIMAGELOADED       "Nici o imagine incarcata"
    IDS_NOSTACKEDIMAGE      "Nici o imagine stackata"
    IDS_LOG_REGISTERRESULTS "Imagine %s inregistrata: %ld stele detectate - FWHM = %.2f - Scor = %.2f\n"
    IDS_LOG_STARTSTACKING   "Porneste stacarea fisierelor\n"
    IDS_LOG_STOPSTACKING    "Opreste stackarea fisierelor\n"
    IDS_LOG_STARTING        "\nCum se utilizeaza DeepStackerLive?\n"
    IDS_LOG_STARTING_1      "Pasul 1\nVerificati tabul Setari pentru setarile de stackare si de avertisment\n\n"
    IDS_LOG_STARTING_2      "Pasul2\nApasati pe butonul Monitorizez pentru a porni monitorizarea directorului\nCand monitorizarea e pornita imaginile sunt doar inregistrate nu si stackate.\n\n"
    IDS_LOG_STARTING_3      "Pasul 3\nPentru a porni stackarea imaginlor apasati butonul Stackare.\nIn acest moment toate imaginile (inclusiv cele inregistrate anterior) vor fi stackate\n"
END

STRINGTABLE
BEGIN
    IDS_RECAP_AVERAGE       "Medie"
    IDS_RECAP_MEDIAN        "Mediana"
    IDS_RECAP_MAXIMUM       "Maxim"
    IDS_RECAP_KAPPASIGMA    "Kappa-Sigma (Kappa = %.2f, Iteratii = %ld)"
    IDS_RECAP_AUTOADAPTIVE  "Medie ponderata auto adaptiva  (Iteratii = %ld)"
    IDS_RECAP_ENTROPYAVERAGE "Entropie medie ponderata"
    IDS_RECAP_MEDIANSIGMACLIP 
                            "Medie Kappa-Sigma (Kappa = %.2f, Iteratii  = %ld)"
END

STRINGTABLE
BEGIN
    IDS_EXPOSURE0           "Expunere: < 1 sec "
    IDS_EXPOSURE1           "Expunere: %ld sec "
    IDS_EXPOSURE2           "Expunere: %ld min %ld sec "
    IDS_EXPOSURE3           "Expunere: %ld h %ld min %ld sec "
END

STRINGTABLE
BEGIN
    IDS_RECAP_MEGABYTES     "%.1f Mb"
    IDS_RECAP_KILOBYTES     "%.1f Kb"
    IDS_RECAP_GIGABYTES     "%.1f Gb"
END

STRINGTABLE
BEGIN
    IDS_REGISTERING         "Inregistrez imagini"
    IDS_REGISTERINGPICTURE  "Inregistrez %ld din %ld"
    IDS_REGISTERINGNAME     "Inregistrez %s"
    IDS_REGISTERINGNAMEPLUSTARS "Inregistrez %s (%ld stele)"
    IDS_COMPUTINGLUMINANCE  "Calculez luminantele %s"
    IDS_LOADRGBPICTURE      "Incarc %ld biti/canal %s imagine\n%s"
    IDS_LOADGRAYPICTURE     "Incarc %ld biti gri %s imagine\n%s"
    IDS_LOADRGBDARK         "Incarc %ld biti/canal %s cadru dark\n%s"
    IDS_LOADGRAYDARK        "Incarc %ld biti gri %s cadru dark\n%s"
    IDS_ADDRGBDARK          "Adaug %ld biti/canal %s cadru dark\n%s"
    IDS_ADDGRAYDARK         "Adaug %ld biti gri %s cadru dark\n%s"
    IDS_LOADRGBOFFSET       "Incarc %ld biti/canal %s cadru offset\n%s"
    IDS_LOADGRAYOFFSET      "Incarc %ld biti gri %s cadru offset\n%s"
    IDS_ADDRGBOFFSET        "Adaug %ld biti/canal %s cadru offset\n%s"
    IDS_ADDGRAYOFFSET       "Adaug %ld biti gri %s cadru offset\n%s"
    IDS_COMPUTINGOFFSETS    "Calculez offsetul"
END

STRINGTABLE
BEGIN
    IDS_DETECTINGHOTPIXELS1 "Detectez pixeli hot (1/2)"
    IDS_DETECTINGHOTPIXELS2 "Detectez pixeli hot (2/2)"
    IDS_COMPUTINGFLATCALIBRATION "Calculez parametrii calibrare flat"
    IDS_APPLYINGFLATCALIBRATION "Aplic parametrii calibrare flat"
    IDS_AHDDEMOSAICING      "Interpolez cu Omogenitate Directionata Adaptiva (ODA)"
    IDS_PROCESSINGIMAGE     "Procesez imaginea..."
    IDS_APPLYINGCOSMETIC_HOT "Aplic efecte cosmetice - pixeli hot"
    IDS_APPLYINGCOSMETIC_COLD "Aplic efecte cosmetice - pixeli cold"
    IDS_CREATINGMEDIANIMAGE "Creez imagine mediana filtrata"
    IDS_OPTIMIZINGDARKMATCHING "Optimizez incadrarea dark-urilor"
    IDS_LOADRGBDARKFLAT     "Incarc %ld biti/canal %s cadru dark flat \n%s"
    IDS_LOADGRAYDARKFLAT    "Incarc %ld biti gri %s cadru dark flat \n%s"
    IDS_COMPUTINGMEDIANDARKFLAT "Calculez master dark flat (%s)"
    IDS_MEDIANDARKFLATINFO  "Master Dark Flat creat utilizand %ld imagini (%s)"
END

STRINGTABLE
BEGIN
    IDS_LOADGRAYFITS        "Incarc  FITS %ld biti monocrom"
    IDS_SAVINGFITS          "Salvez FITS %ld biti"
END

STRINGTABLE
BEGIN
    IDS_LOADRGBFLAT         "Incarc %ld biti/canal %s cadru flat\n%s"
    IDS_LOADGRAYFLAT        "Incarc %ld biti gri %s cadru flat\n%s"
    IDS_ADDRGBFLAT          "Adaug %ld biti/canal %s cadru flat\n%s"
    IDS_ADDGRAYFLAT         "Adaug %ld biti gri %s cadru flat\n%s"
    IDS_MEDIANDARKINFO      "Master Dark creat utilizand %ld imagini (%s)"
    IDS_MEDIANOFFSETINFO    "Master Offset creat utilizand %ld imagini (%s)"
    IDS_MEDIANFLATINFO      "Master Flat creat utilizand %ld imagini (%s)"
    IDS_SUBSTRACTINGOFFSET  "Scad  cadru Offset"
    IDS_SUBSTRACTINGDARK    "Scad cadru Dark"
    IDS_APPLYINGFLAT        "Aplic cadru Flat"
    IDS_NORMALIZINGMASTERFLAT "Calibrez Master Flat"
    IDS_COMPUTINGMINLUMINANCE "Calcul automat luminanta minima"
    IDS_COMPUTINGENTROPY    "Calculez entropia"
    IDS_COMPUTINGBACKGROUNDCALIBRATION "Calculez parametrii calibrare fundal"
    IDS_COMPUTINGDARKOPTIMIZATIONFACTOR "Calculez parametrii optimizare dark"
    IDS_REMOVINGHOTPIXELS   "Detectez pixelii hot"
END

STRINGTABLE
BEGIN
    IDS_COMPUTINGSTACKINGINFO "Calculez informatia stackare pentru %s"
    IDS_STACKING            "Stackez"
    IDS_STACKING_PICTURE    "Stackare %ld din %ld - Deviatie [%.1f,%.1f] - Unghi : %.1f°"
    IDS_LOADRGBLIGHT        "Incarc %ld biti/canal %s cadru light \n%s"
    IDS_LOADGRAYLIGHT       "Incarc %ld biti gri %s cadru light\n%s"
    IDS_STACKRGBLIGHT       "Stackez %ld biti/canal %s cadru light\n%s"
    IDS_STACKGRAYLIGHT      "Stackez %ld biti gri %s cadru light\n%s"
    IDS_STACKING_COMPUTINGADJUSTMENT 
                            "Stackare - Ajustare matrice - Calculeaza ajustarile"
    IDS_COMPUTINGADJUSTMENT "Calculez ajustarile %ld pe %ld"
    IDS_STACKING_APPLYINGADJUSTMENT 
                            "Stackare - Ajustare matrice - Aplica ajustarile"
    IDS_STACKING_COMPUTEMAXADJUSTMENT "Calculeaza ajustarile maxime"
    IDS_STACKING_APPLYADJUSTMENT "Aplic ajustarile"
    IDS_COMPUTINGMEDIANOFFSET "Calculez deviatia master (%s)"
    IDS_COMPUTINGMEDIANDARK "Calculez master dark (%s)"
    IDS_COMPUTINGMEDIANFLAT "Calculez master flat (%s)"
END

STRINGTABLE
BEGIN
    IDS_LOADDSIMAGE         "Incarc DSImage"
    IDS_LOADPICTURE         "Incarc %s"
    IDS_SAVEDSIMAGE         "Salveaza imaginea stackata in %s (DSImage)"
    IDS_SAVINGDSIMAGE       "Salveaza fisier DSImage"
    IDS_SAVINGTIFF          "Salveaza TIFF %ld biti"
    IDS_SAVINGPICTURE       "Salvez %s"
    IDS_SAVEWITHSETTINGSAPPLIED "Imagine salvata cu setarile aplicate"
    IDS_SAVEWITHSETTINGSEMBEDDED "Imagine salvata cu setarile incluse"
    IDS_LOADRGBTIFF         "Incarc TIFF %ld biti/canal"
    IDS_LOADGRAYTIFF        "Incarc TIFF %ld bit monocrom"
    IDS_DEEPSKYSTACKER      "DeepSkyStacker 4.1.1"
    IDS_SAVINGINTERMEDIATE  "Salvez imaginea inregistrata si calibrata in %s"
    IDS_SAVINGCALIBRATED    "Salvez Imaginea calibrata in %s"
    IDS_LOADRGBFITS         "Incarc FITS %ld biti/canal"
END

STRINGTABLE
BEGIN
    IDS_COMPUTINGCOSMETICSTATS "Calculez efecte cosmetice"
END

STRINGTABLE
BEGIN
    IDS_COMPUTINGMEDIANLIGHT "Calculez imaginea finala (%s)"
END

STRINGTABLE
BEGIN
    IDS_CREATEMASTERDARK    "Creez cadrul Master Dark"
    IDS_CREATEMASTEROFFSET  "Creez cadrul Master offset"
    IDS_ADDOFFSET           "Adaug cadrul Offset %ld pe %ld"
    IDS_ADDDARK             "Adaug cadrul Dark %ld pe %ld"
END

STRINGTABLE
BEGIN
    IDS_SAVINGMASTEROFFSET  "Salvez Maser Offset"
    IDS_SAVINGMASTERDARK    "Salvez Master Dark"
    IDS_CREATEMASTERFLAT    "Creez cadru Master Flat"
    IDS_ADDFLAT             "Adaug cadrul Flat %ld pe %ld"
    IDS_SAVINGMASTERFLAT    "Salvez Master Flat"
    IDS_CREATEMASTERDARKFLAT "Creez cadrul Master Dark Flat"
    IDS_ADDDARKFLAT         "Adaug cadrul Dark Flat %ld pe %ld"
    IDS_SAVINGMASTERDARKFLAT "Salvez Master Dark Flat"
    IDS_ADDOFFSET2          "Adaug cadrul Offset %ld pe %ld"
END

STRINGTABLE
BEGIN
    IDS_FORMAT_RGB          "RGB %ld biti/canal"
    IDS_FORMAT_GRAY         "A-N %ld biti"
    IDS_YES                 "Da"
    IDS_NO                  "Nu"
    IDS_EXPOSUREFORMAT_SUP  "%ld sec"
    IDS_EXPOSUREFORMAT_INF  "1/%ld sec"
END

STRINGTABLE
BEGIN
    IDS_EXPOSURETIME1       "%ld sec "
    IDS_EXPOSURETIME2       "%ld min %ld sec "
    IDS_EXPOSURETIME3       "%ld h %ld min %ld sec "
END

STRINGTABLE
BEGIN
    IDS_COLUMN_PATH         "Cale"
    IDS_COLUMN_FILE         "Fisier"
    IDS_COLUMN_TYPE         "Tip"
    IDS_COLUMN_SCORE        "Scor"
    IDS_COLUMN_DX           "dX"
    IDS_COLUMN_DY           "dY"
    IDS_COLUMN_ANGLE        "Unghi"
    IDS_COLUMN_DATETIME     "Data/Ora"
END

STRINGTABLE
BEGIN
    IDS_COLUMN_SIZES        "Dimensiune"
    IDS_COLUMN_CFA          "CFA"
    IDS_COLUMN_DEPTH        "Adancime"
    IDS_COLUMN_INFOS        "Informatii"
    IDS_COLUMN_ISO_GAIN     "ISO/Gain"
    IDS_COLUMN_EXPOSURE     "Expunere"
	IDS_COLUMN_APERTURE		"Deschidere"	
    IDS_COLUMN_STARS        "#Stele"
    IDS_COLUMN_SKYBACKGROUND "Fundal cer"
END

STRINGTABLE
BEGIN
    IDS_HAT_LINEAR          "Linear"
    IDS_HAT_CUBEROOT        "Radacina cubica"
    IDS_HAT_SQUAREROOT      "Radacina patrata"
    IDS_HAT_LOG             "Logaritm"
    IDS_HAT_LOGLOG          "Log(Log)"
    IDS_HAT_LOGSQUAREROOT   "Log(Radacina patrata)"
    IDS_HAT_ASINH           "ASinH"
END

STRINGTABLE
BEGIN
    IDS_RECAP_WARNINGDISKSPACE 
                            "Procesul necesita %s de spatiu liber pe disc %s.\nDoar %s sunt disponibili pe acest disc."
END

STRINGTABLE
BEGIN
    IDS_WANTTOCONTINUE      "\nChiar doriti sa continuati?"
END

STRINGTABLE
BEGIN
    IDS_LOG_STARTING_4      "Puteti opri/porni din nou procesul de stackare apasand butonul Stack.\n"
    IDS_LOG_STARTING_5      "Pentru oprirea monitorizarii si stackarii apasati butonul Stop.\n\n"
    IDS_LOG_ERRORLOADINGFILE "Eroare la incarcarea fisierului %s\n"
    IDS_STATUS_LOADED       "Incarcat"
    IDS_STATUS_REGISTERED   "Inregistrat"
    IDS_STATUS_STACKDELAYED "Stackare intarziata"
    IDS_STATUS_NOTSTACKABLE "Ne-stackabil"
    IDS_STATUS_STACKED      "Stackat"
    IDS_LOG_IMAGENOTSTACKABLE1 "Imaginea %s nu este stackabila (%s)\n"
    IDS_NOSTACK_SCORE       "Scorul (%.2f) este mai mic de %.2f"
    IDS_NOSTACK_STARS       "Nr. de stele (%.0f) este mai mic de %.0f"
    IDS_NOSTACK_FWHM        "FWHM (%.2f pixeli) mai mare de %.2f pixeli"
    IDS_NOSTACK_OFFSET      "dX (%.2f pixeli) sau dY (%.2f pixeli) mai mare %.2f pixeli"
    IDS_NOSTACK_ANGLE       "Unghiul (%.2f°) mai mare de %.2f°"
    IDS_NOSTACK_NOTRANSFORMATION 
                            "Nu a fost gasita nici o modificare fata de imaginea de referinta"
    IDS_LOG_WARNING         "Atentie: imagine %s -> %s\n"
END

STRINGTABLE
BEGIN
    IDS_SELECTWARNINGFOLDER "Selectati directorul pentru fisierele cu avertismente"
    IDS_SELECTSTACKEDFOLDER "Selectati directorul de salvare a imaginilor stackate"
    IDS_SAVINGSTACKEDIMAGE  "Salvez imaginea stackata in\n%s"
    IDS_ERRORSENDINGEMAIL   "A aparut o eroare la trimiterea e-mail-ului!"
    IDS_EMAILSENTOK         "E-mail-ul de test a fost trimis."
    IDS_CANTCHANGEMONITOREDFOLDER 
                            "Nu puteti schimba directorul monitorizat cat timp ce monitorizarea este activa"
    IDS_SAVESTACKEDIMAGE    "Clic aici pentru a salva imaginea stackata intr-un fisier"
    IDS_NOSTACKEDIMAGEFOLDER 
                            "Selectati mai intai directorul destinatie.\nMergeti la meniul Setari pentru a selecta directorul in care se va salva imaginea stackata."
    IDS_STACKEDIMAGEWILLBESAVED 
                            "Imaginea stackata va fi salvata cat de repede posibil."
    IDS_STACKEDIMAGESAVED   "Imaginea stackata a fost salvata"
    IDS_USEEXISTINGIMAGES   "Aveti %ld imagini in directorul monitorizat.\nDoriti sa le procesati?"
    IDS_ERRORMOVINGFILE     "A aparut o eroare la mutarea %s in subdirectorul %s\n"
    IDS_FILEMOVED           "Fisierul %s a fost mutat in subdirectorul %s\n"
    IDS_NOSTACK_SKYBACKGROUND 
                            "Fundalul cerului  (%2.f%%) este mai mare ca %2.f%%"
END

STRINGTABLE
BEGIN
    IDS_HELPFILE            "DeepSkyStacker Help.chm"
END

STRINGTABLE
BEGIN
    IDS_CAMERA_NOT_SUPPORTED "Ne pare rãu, LibRaw nu acceptã camera %s"
	IDS_8BIT_FITS_NODEBAYER "DeepSkyStacker nu va debayeriza imaginile pe 8 biti"
END

#endif    // Romanian (Romania) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// English (United Kingdom) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENG)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
#pragma code_page(1252)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // English (United Kingdom) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

