/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#include "..\DeepSkyStackerKernel\DSSVersion.h"




VS_VERSION_INFO VERSIONINFO
 FILEVERSION DSSVER_MAJOR,DSSVER_MINOR,DSSVER_SUB,DSSVER_BUILD
 PRODUCTVERSION DSSVER_MAJOR,DSSVER_MINOR,DSSVER_SUB,DSSVER_BUILD
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", DSSLIVEVER_FILEDESCRIPTION
            VALUE "FileVersion", DSSVER_FILEVERSION
            VALUE "InternalName", DSSLIVEVER_INTERNALNAME
            VALUE "LegalCopyright", DSSVER_COPYRIGHT
            VALUE "OriginalFilename", DSSLIVEVER_ORIGINALFILENAME
            VALUE "ProductName", DSSLIVEVER_PRODUCTNAME
            VALUE "ProductVersion", DSSVER_PRODUCTVERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END



