[Desktop Entry]
Type=Application
Exec=/opt/DeepSkyStacker/DeepSkyStacker
Name=DeepSkyStacker
GenericName=The preferred application for stacking astronomical images
MimeType=text/dssfilelist
Icon=/opt/DeepSkyStacker/DeepSkyStacker.icns
Categories=Astronomy;Science